<app-menu></app-menu>

<!-- First screen starts -->

<div class="container-fluid" id="support-firstscreen">
    <img src="../../assets/Codingo Support.png" alt="">
    <div class="welcomeimage-text">
        <h2>
            Get help with Codingo <br> products and services
        </h2>
    </div>
</div>

<!-- First screen ends -->

<!-- Second screen starts -->

<div class="container support-secondscreen">
    <div class="row" style="margin-bottom: 2.5%;">
        <h3 style="font-size: 40px;">Browse by product</h3>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xs-6">
            <div class="col-sm-4 col-md-4 col-xs-4">
                <img src="../../assets/Aptipro Icon.jpg" alt="">
            </div>
            <div class="col-sm-8 col-md-8 col-xs-8">
                aptipro.in
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <div class="col-sm-4 col-md-4 col-xs-4">
                <img src="../../assets/SQL Icon.jpg" alt="">
            </div>
            <div class="col-sm-8 col-md-8 col-xs-8">
                sqlpro.in
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <div class="col-sm-4 col-md-4 col-xs-4">
                <img src="../../assets/Java Icon.png" alt="">
            </div>
            <div class="col-sm-8 col-md-8 col-xs-8">
                javapro.in
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <div class="col-sm-4 col-md-4 col-xs-4">
                <img src="../../assets/Python Icon.jpg" alt="">
            </div>
            <div class="col-sm-8 col-md-8 col-xs-8">
                pypro.in
            </div>
        </div>
    </div>
</div>

<!-- Second screen ends -->

<!-- Third screen starts -->

<div class="container support-thirdscreen">
    <div class="row" style="margin-bottom: 2.5%;">
        <h3 style="font-size: 40px;">Browse resources</h3>
    </div>
    <div class="row support-thirdscreen-content">
        <div class="row" style="column-gap: 5%;">
            <div class="col-sm-5 col-md-5 col-xs-10" id="row-content">
                <div class="col-sm-3 col-md-3 col-xs-3">
                    <img src="../../assets/Documention.png" alt="">
                </div>
                <div class="col-sm-9 col-md-9 col-xs-9">
                    <h3>Documentation</h3>
                    <p>Get help using and administering products</p>
                    <button type="submit">View documentation</button>
                </div>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-10" id="row-content">
                <div class="col-sm-3 col-md-3 col-xs-3">
                    <img src="../../assets/Community Image.png" alt="">
                </div>
                <div class="col-sm-9 col-md-9 col-xs-9">
                    <h3>Community</h3>
                    <p>Find answers, support, and inspiration from other Codingo users</p>
                    <button type="submit">View the community</button>
                </div>
            </div>
        </div>
        <div class="row" style="column-gap: 5%;">
            <div class="col-sm- col-md-5 col-xs-10" id="row-content">
                <div class="col-sm-3 col-md-3 col-xs-3">
                    <img src="../../assets/Billing & Licensing.png" alt="">
                </div>
                <div class="col-sm-9 col-md-9 col-xs-9">
                    <h3>Billing and licensing</h3>
                    <p>See FAQs about billing and licensing.</p>
                    <button type="submit">View FAQs</button>
                </div>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-10" id="row-content">
                <div class="col-sm-3 col-md-3 col-xs-3">
                    <img src="../../assets/Training & Certification.png" alt="">
                </div>
                <div class="col-sm-9 col-md-9 col-xs-9">
                    <h3>Training and Certification</h3>
                    <p>Develop new skills, improve your team’s work, and advance your professional career.</p>
                    <button type="submit">View training</button>
                </div>
            </div>
        </div>
        <div class="row" style="column-gap: 5%;">
            <div class="col-sm-5 col-md-5 col-xs-10" id="row-content">
                <div class="col-sm-3 col-md-3 col-xs-3">
                    <img src="../../assets/Suggestions & Bug report.png" alt="">
                </div>
                <div class="col-sm-9 col-md-9 col-xs-9">
                    <h3>Suggestions and bug reports</h3>
                    <p>Find existing feature suggestions and bug reports</p>
                    <button type="submit">View suggestions and bugs</button>
                </div>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-10">
                
            </div>
        </div>
    </div>
    <div class="row" id="codingo-support-contact">
        <h2 style="font-size: 40px;">Not finding the help you need?</h2>
        <button type="submit">Contact us</button>
    </div>
</div>

<!-- Third screen ends -->

<app-footer></app-footer>