<app-menu></app-menu>

<div class="container-fluid careers-first">
    <div class="container careers-content">
        <div class="row">
            <h3>At Codingo,</h3>
        </div>
        <div class="row">
            <p>
                We pride ourselves on fostering a culture of collaboration, innovation, and growth. We believe that our employees are the backbone of our success, and we are dedicated to providing them with the tools, resources, and support they need to excel in their roles and achieve their professional goals.
            </p>
            <p>
                Our team is made up of passionate and driven individuals who are committed to working together to achieve common goals.
            </p>
            <p>
                Join us and become part of a dynamic and driven team, where your contributions will be valued and your potential will be nurtured.
            </p>
        </div>
        <div class="row">
            <button type="submit">Join us</button>
        </div>
    </div>
    <div class="careers-image1">
        <img src="../../assets/Oceam Wavecareers1.svg" alt="">
    </div>
    <div class="image-tiles1">
        <img src="../../assets/Careers/Ellipse 12careers-tile1.svg" alt="">
    </div>
    <div class="image-tiles2">
        <img src="../../assets/Careers/Ellipse 5careers-tiles.svg" alt="">
    </div>
    <div class="image-tiles3">
        <img src="../../assets/Careers/Ellipse 4careers-tiles.svg" alt="">
    </div>
    <div class="image-tiles4">
        <img src="../../assets/Careers/Ellipse 3careers-tiles.svg" alt="">
    </div>
    <div class="image-tiles5">
        <img src="../../assets/Careers/Ellipse 1careers-tiles.svg" alt="">
    </div>
    <div class="image-tiles6">
        <img src="../../assets/Careers/Ellipse 2careers-tiles.svg" alt="">
    </div>
</div>

<div class="container-fluid careers-second">
    <img src="../../assets/Careers2.svg" alt="">
    <div class="container careers-second-content">
        <div class="row">
            <h1>"</h1>
        </div>
        <div class="row">
            <p>“The best teams have a sense of “we” not “me”.”</p>
            <span style="font-weight: 700; font-size: 28px; line-height: 90px; color: #404040;"><p>Phill Jackson</p></span>
        </div>
    </div>
</div>

<app-footer></app-footer>