<div class="container-fluid" id="footer">
    <div class="row footer-heading">
        <p>Codingo Blog provides valuable content to the conscious job seeker and employees who are passionate about furthering and deepening their careers</p>
    </div>
    <div class="row footer-newsletter">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <form action="your_form_action" method="post">
                <label for="email">Become an Expert, Subscribe to our newsletter</label> <br>
                <input type="email" id="email" name="email" placeholder="Enter email address" required style="width: 400px; height:48px; background: #FFFFFF; border-radius: 10px 0px 0px 10px; color:black; font-size:20px;">
                <input type="submit" value="Subscribe" style="background: #E81F3D; border-radius: 0px 10px 10px 0px; color:white;font-size:24px; height:48px;width:147px;">
            </form>              
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <img [src]="imageUrl" alt="image">
            <button (click)="setImage(1)">Button 1</button>
            <button (click)="setImage(2)">Button 2</button>
            <button (click)="setImage(3)">Button 3</button>
        </div>
    </div>
    <div class="row footer-bottom">
        <div class="col-sm-3 col-md-3 col-xs-12">
            <h3><b>Employers</b></h3>
            <a href="">Free Employment Account</a> <br>
            <a href="">Employer Center</a><br>
            <a href="">Employer's Blog</a><br>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-12">
            <h3><b>Blog</b></h3>
            <a href="">Career Guides</a><br>
            <a href="">Editorial Team</a><br>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-12">
            <h3><b>Codingo</b></h3>
            <a href="">About/Press</a><br>
            <a href="">Economic Research</a><br>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-12">
            <h3><b>Community</b></h3>
            <a href="">Help/Contact Us</a><br>
            <a href="">Guidelines</a><br>
            <a href="">Terms of Use</a><br>
            <a href="">Privacy & Cookies</a><br>
            <a href="">Don't sell/Share my info</a><br>
        </div>
    </div>
</div>