<app-menu></app-menu>
<!-- Welcome screen starts -->

<div class="container-fluid" id="welcome-screen">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12" id="welcome-text">
            <h1 style="font-weight: 800; font-size: 42px; line-height: 90px; color: #404040;">
                When everything is personalized and fun today, why isn’t learning?
            </h1>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12" id="welcome-image">
            <img src="../../assets/homepage/homepage 001.svg" alt="">
        </div>
    </div>
</div>
<!-- Welcome screen ends -->

<!-- Second screen starts -->
<div class="container" id="second-screen">
    <div class="row" id="secondscreen-heading">
        <h2 style="font-size: 42px;">Our Solutions lead the way you learn</h2>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="row second-left-row">
                <div class="col-sm-2 col-md-2">
                    <img src="../../assets/Aptipro Icon.jpg" alt="">
                </div>
                <div class="col-sm-8 col-md-8">
                    <h3>aptipro.in</h3>
                    <p>Learn aptitude at ease & crack interviews like pro</p> 
                </div>
            </div>
            <div class="row second-left-row">
                <div class="col-sm-2 col-md-2">
                    <img src="../../assets/SQL Icon.jpg" alt="">
                </div>
                <div class="col-sm-8 col-md-8">
                    <h3>sqlpro.in</h3>
                    <p>Learn SQL from experts & get your dream job</p> 
                </div>
            </div>
            <div class="row second-left-row">
                <div class="col-sm-2 col-md-2">
                    <img src="../../assets/Java Icon.png" alt="">
                </div>
                <div class="col-sm-8 col-md-8">
                    <h3>javapro.in</h3>
                    <p>Learn Java from experts & become a developer</p> 
                </div>
            </div>
            <div class="row second-left-row">
                <div class="col-sm-2 col-md-2">
                    <img src="../../assets/Python Icon.jpg" alt="">
                </div>
                <div class="col-sm-8 col-md-8">
                    <h3>pypro.in</h3>
                    <p>Learn Python from experts & become a developer</p> 
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12" id="secondscreen-image">
            <img src="../../assets/homepage/home page 003.svg" alt="">
        </div>
    </div>
</div>
<!-- Second screen ends -->

<!-- Third screen starts -->

<div class="container-fluid" id="third-screen">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-4" id="third-screen-col1">
            <h3>ESSENTIALS</h3>
            <p>
                Behold to witness a community that answers your
                question as quickly as possible.
            </p>
        </div>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <img src="../../assets/Team Essentials.jpg" alt="">
            <div class="third-screen-imgtext">
                <h3>Codingo Community</h3>
                <h4>Join our community</h4>
            </div>
        </div>
    </div>
</div>

<!-- Third screen ends -->

<!-- Fourth Screen starts -->

<div class="container" id="fourth-screen">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12" id="fourth-screen-cols">
            <div class="row">
                <img src="../../assets/homepage/home page 005 worklife.svg" alt="">
            </div>
            <div class="row">
                <h3>Work Life</h3>
                <p>Real life advice, inspiration, and stories from the working world today.</p>
                <h4><a href="#">Join our community</a></h4>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12" id="fourth-screen-cols">
            <div class="row">
                <img src="../../assets/homepage/homepage 006 known our team.svg" alt="">
            </div>
            <div class="row">
                <h3>Know our team</h3>
                <p>Real life advice, inspiration, and stories from the working world today.</p>
                <h4><a href="#">Know more</a></h4>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12" id="fourth-screen-cols">
            <div class="row">
                <img src="../../assets/homepage/homepage 007 Agile aproach 1.svg" alt="">
            </div>
            <div class="row">
                <h3>The Agile approach</h3>
                <p>Real life advice, inspiration, and stories from the working world today.</p>
                <h4><a href="#">Join our community</a></h4>
            </div>
        </div>
    </div>
</div>

<!-- Fourth Screen ends -->

<!-- Fifth Screen starts -->

<div class="container" id="fifth-screen">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12">
             <h4>EVENTS</h4> <br>
             <h3>Hear from today's fearless builders and innovators</h3> <br>
             <h5 style="color: #303030; font-size: 16px;"><a href="#">Learn more</a></h5>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12">
            <img src="../../assets/Event1.png" alt="">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12">
            <img src="../../assets/Event2.jpg" alt="">
        </div>
    </div>
</div>

<!-- Fifth Screen starts -->

<!-- Sixth Screen starts -->

<div class="container-fluid" id="sixth-screen">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12">
            <img src="../../assets/homepage/homepage0010 carrers -1.svg" alt="">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12">
            <h4 style="text-align: center; font: size 24px;">CAREERS</h4>
            <h3 style="text-align: center; font-size: 32px; font-weight:500;color: #404040;">We can't do it alone</h3>
            <p style="font-size: 18px; line-height:28.13px;color: rgba(64, 64, 64, 0.8);"><b>We have an ambitious road ahead, and we’re looking for people to join our global team to help shape the future of Codingo.</b></p> <br>
            <button type="submit">Learn More</button>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12">
            <img src="../../assets/homepage/homepage 0010 carrers-2.svg" alt="">
        </div>
    </div>
</div>

<!-- Sixth Screen ends -->

<app-footer></app-footer>