<app-menu></app-menu>

<!-- First screen starts -->

<div class="container aboutus-first">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12" style="padding-top: 10%;">
            <h4>WHO WE ARE</h4>
            <h2>Unlock the power of coding</h2>
            <p>
                From individual to institutions and colleges to universities our products help students to easily
                master the art of coding
            </p> <br>
            <p>
                Our mission is to help unleash the potential of every graduate in India
            </p>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12" style="display: flex; justify-content: flex-end;">
            <img src="../../assets/About Us.jpg" alt="">
        </div>
    </div>
</div>

<!-- First screen end -->

<!-- Second Screen starts -->
<div class="container-fluid aboutus-second">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xs-6">
            <div class="col-sm-3 col-md-3 col-xs-3">
                <img src="../../assets/5000+ Codingers.png" alt="">
            </div>
            <div class="col-sm-9 col-md-9 col-xs-9">
                <p class="icons-desc">5000+ Codingers</p>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <div class="col-sm-3 col-md-3 col-xs-3">
                <img src="../../assets/Team of Twenty.png" alt="">
            </div>
            <div class="col-sm-9 col-md-9 col-xs-9">
                <p class="icons-desc">Team of Twenty</p>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <div class="col-sm-3 col-md-3 col-xs-3">
                <img src="../../assets/100+ Schools.png" alt="">
            </div>
            <div class="col-sm-9 col-md-9 col-xs-9">
                <p class="icons-desc">100+ Colleges</p>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6">
            <div class="col-sm-3 col-md-3 col-xs-3">
                <img src="../../assets/500+ Community members.png" alt="">
            </div>
            <div class="col-sm-9 col-md-9 col-xs-9">
                <p class="icons-desc">500+ community members</p>
            </div>
        </div>
    </div>
</div>

<!-- Second screen ends -->

<!-- Third screen starts -->

<div class="container-fluid aboutus-third">
    <div class="row">
        <h3>Connect with codingo community</h3>
        <p>Find all the distributors in one place</p>
        <a href="#">Find people, find answers, find your path to growth</a>
    </div>
</div>

<!-- Third screen ends -->

<!-- Fourth screen starts -->

<div class="container aboutus-fourth">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <h4>WHAT WE BELIEVE</h4>
            <h2>Values to live by</h2>
            <p style="margin-top: 10%; font-weight: 450; font-size: 24px; line-height: 38px; color: #404040; text-align: justify; padding-right:5%;">
                Lorem ipsum dolor sit amet consectetur. Mattis aenean euismod sed quis facilisi in sapien. A amet neque eget mi consequat sit viverra at tincidunt. Aliquam urna lorem quis eget risus dolor magna nunc cursus. Amet sed odio eget libero amet dignissim commodo. Augue id netus ultrices neque adipiscing commodo at. 
            </p>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <div class="row">
                        <img src="../../assets/aboutus2.svg" alt="">
                    </div>
                    <div class="row">
                        <p class="tiles-text">Customer first</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <div class="row">
                        <img src="../../assets/aboutus3.svg" alt="">
                    </div>
                    <div class="row">
                        <p class="tiles-text">Play innovative</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <div class="row">
                        <img src="../../assets/aboutus4.svg" alt="">
                    </div>
                    <div class="row">
                        <p class="tiles-text">Craft with art and quilibrium</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <div class="row">
                        <img src="../../assets/aboutus5.svg" alt="">
                    </div>
                    <div class="row">
                        <p class="tiles-text">Enriching student experience</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <div class="row">
                        <img src="../../assets/aboutus6.svg" alt="">
                    </div>
                    <div class="row">
                        <p class="tiles-text">Empowering teachers</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <div class="row">
                        <img src="../../assets/aboutus7.svg" alt="">
                    </div>
                    <div class="row">
                        <p class="tiles-text">Truly transparent</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fourth screen starts -->

<app-footer></app-footer>