.aboutus-first{
    margin-top: 80px;
}
.aboutus-first h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #404040;
}
.aboutus-first h2{
    font-weight: 800;
    font-size: 52px;
    line-height: 90px;
    color: #404040;
    align-self: stretch;
}
.aboutus-first p{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    align-self: stretch;
    color: rgba(64, 64, 64, 0.75);
}
.aboutus-first img{
    width: 100%;
    height: auto;
}

.aboutus-second{
    padding: 40px 120px;
    gap: 97px;
    background: #1C3CA1;
}
.aboutus-second img{
    width: 60.47px;
    height: 66.72px;
}
.icons-desc{
    line-height: 28px;
    color: #EFF3FF;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10%;
}


.aboutus-third{
    padding: 80px 120px;
    gap: 40px;
    background: #ECF0F3;
}
.aboutus-third h3{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #404040;
    align-self: stretch;
    margin: 0;
}
.aboutus-third p{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #404040;
    margin: 2% 0;
}
.aboutus-third a{
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #084F8E;
}

.aboutus-fourth{
    padding: 5% 0;
}
.aboutus-fourth h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #404040;
}
.aboutus-fourth h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #404040;
}
.aboutus-fourth img{
    width: 200px;
    height: 200px;
}
.tiles-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #404040;
}