.header{
    background: #FFFFFF;
    border-bottom: 1px solid #031544;
}
.navbar-brand img{
    width: 165px;
    height: 50px;
}

.navbar-nav a{
    text-decoration: none;
}
.navbar-nav a:hover{
    cursor: pointer;
}
.nav-item{
    margin-top: 20px;
}
.special-menu{
    background: #031544;
}

.offcanvas-left{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    display: none;
}
#offcanvas-left{
    padding: 10% 5%;
    margin: auto;
}
.offcanvas-left.open {
    display: block;
}

.offcanvas-left .close-button {
position: absolute;
top: 10px;
right: 10px;
}
.offcanvas-left img{
    width: 80px;
    height: 80px;
}

.offcanvas-right{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    display: none;
}
#offcanvas-right{
    padding: 10% 5%;
    margin: auto;
}
.offcanvas-right.open {
    display: block;
}

.offcanvas-right .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }