<app-menu></app-menu>

<div class="container university-first">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12" style="padding-top: 5%;">
            <h1>Unlock the key to success with Codingo University</h1>
            <p>Build Confidence and a fulfilling career</p> <br>
            <button type="submit">Learn with us</button>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12" style="display:flex; justify-content: flex-end;">
            <img src="../../assets/university1.svg" alt="">
        </div>
    </div>
</div>

<div class="container-fluid university-second">
    <div class="row" style="padding: 5% 10%">
        <h3>Get placement training and certification for Aptitude ,
            SQL , Python, and Java</h3> <br>
        <p>
            "Codingo University offers a variety of fundamental courses to help you quickly get started and find the right path to earning a coding certification. Whether your goal is to
            improve your skills, train others, or start a business,we are here to support you." "Codingo University offers a variety of fundamental courses to help you quickly get started and find the right path
        </p>
    </div>
</div>

<app-footer></app-footer>